.search_icon{
    cursor: pointer;
}

/* .foode-item_nav li{
    width: 24%;
margin: 5px;
float: left;
position: relative;
text-align: center;
border: 1px solid #ccc;
}
 */


.rtb-text.date {
    float: left;
    width: 45%;   
    margin-right:10%;
}

.rtb-text.date  input{
    width: 100% !important;
    max-width: 100% !important;
}

.rtb-text.time {
    float: left;
    width: 45%;
}
.rtb-text.time  input{
    width: 100% !important;
    max-width: 100% !important;
}



.rtb-text.name {
    float: left;
    width: 100%;   
    margin-right:10%;
}

.rtb-text.name  input{
    width: 100% !important;
    max-width: 100% !important;
}

.rtb-text.email {
    float: left;
    width: 100%;
}
.rtb-text.email  input{
    width: 100% !important;
    max-width: 100% !important;
}

.rtb-text.phone {
    float: left;
    width: 100%;
}
.rtb-text.phone  input{
    width: 100% !important;
    max-width: 100% !important;
}


.rtb-textarea .message  {
    float: left;
    width: 100%;
}
.rtb-textarea .message   textarea{
    width: 100% !important;
    max-width: 100% !important;
}
.contact-form-box textarea{
    max-width: 100% !important;
}

.rtb-booking-form button[type=submit] {
    background: #336699 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 20px;
    padding: 12px 0;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
    cursor: pointer;
}

/* .rtb-booking-form button[type=submit]:hover {
    background: #330066;
  } */

.reservation  legend{
    display: none;
    /* color: #535353;
    font-family: "Great Vibes",cursive;
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: capitalize; */
}
.single-footer .open-list li{
    line-height: 20px;
}

.booking-open-list li{
    list-style: circle;
    padding: 8px;
    margin: 10px 20px;
}

.newsletter-form .tnp-firstname{
    background:#fff!important;
    border: medium none;
    color: #999999!important;
    font-weight: 600;
    height: 36px !important;
    padding: 0 10px;
}
.newsletter-form .tnp-email{
    background:#fff!important;
    border: medium none;
    color: #999999!important;
    font-weight: 600;
    height: 36px !important;
    padding: 0 10px;
}

.newsletter-form input[type=submit] {
    background-color:#336699!important;
    border: medium none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 20px;
    padding: 12px 0;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
    cursor: pointer;
}



.blog-thumbnail img{
    width: 100%;
}
.comment-form-cookies-consent label{
    float: left;
    padding: 10px;
}
#wp-comment-cookies-consent{
    float:left;
    width: 20px;

}

/* 
.articles-details .blog-no-thumbnail{
    position: relative;
}
.blog-no-thumbnail .blog-publish{
    left: 0px;
    right: 0px;
    bottom:0px;
    position: initial;
}
 */



.blog-no-thumbnail .blog-title h4 {
    color: #535353;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .blog-no-thumbnail .blog-publish {
    background: #f1f1f1 none repeat scroll 0 0;
  }
  .blog-no-thumbnail .blog-publish {
    background: #f1f1f1 none repeat scroll 0 0;
    left: 0px;
    right: 0px;
    bottom:0px;
    right: 0px;
  }
  .articles-details .blog-no-thumbnail {
    position: inherit;
  }
  .comments-title{
    color: #535353;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 47px;
    text-transform: uppercase;
  }

  .nav-next{
    color: #535353;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;

  }
.comment-reply-title{
color: #535353;
font-size: 20px;
font-weight: bold;
margin-bottom: 47px;
text-transform: uppercase;
}

.comment-form input[type=submit] {
    background: #3f51b5;
    cursor: pointer;
    border: medium none;
color: #fff;
font-size: 14px;
font-weight: 600;
line-height: 12px;
margin-top: 25px;
padding: 14px 0;
text-transform: uppercase;
-webkit-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
width: 100%;
}

/* .newsletter-form input[type=submit]:hover {
    background-color: #330066!important;
} */

/* Right Sidebar custom css */
.blog-right-sidebar h2{
    /* font-family: "Great Vibes",cursive; */
    font-size: 20px;
    margin-bottom: 18px;
    text-transform: capitalize;
}

.blog-right-sidebar section{
    margin-bottom: 30px;
}
.blog-right-sidebar .widget_categories li{
    border-bottom: 1px dashed #ccc;
    padding: 8px;
    margin-bottom: 5px;
}
.blog-right-sidebar .widget_categories li:last-child{
    border-bottom: none;
}

.blog-right-sidebar .widget_archive li{
    border-bottom: 1px dashed #ccc;
    padding: 8px;
    margin-bottom: 5px;
}
.blog-right-sidebar .widget_archive li:last-child{
    border-bottom: none;
}


.blog-right-sidebar .widget_recent_entries li{
    width: 100%;
    border-bottom: 1px dashed #ccc;
    padding: 8px;
    margin-bottom: 5px;
    
}
.blog-right-sidebar .widget_recent_entries span{
    width: 100%;
   
   
}
.blog-right-sidebar .widget_recent_entries li:last-child{
    border-bottom: none;
}
.blog-right-sidebar .widget_recent_entries li a{
    width: 100%;
    display: block;
    padding: 5px 0px 8px;
    line-height: 22px; 
    
}

.blog-right-sidebar .widget-title .product-categories li{

    font-family: "Lato",sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.blog-right-sidebar .widget-title .product-categories li a::before{
    content: "";
    font-family: FontAwesome;
    margin-right: 12px;
}

/* Recent Comments*/
.blog-right-sidebar .widget_recent_comments li{
    width: 100%;
    border-bottom: 1px dashed #ccc;
    padding: 8px;
    margin-bottom: 5px;
    
}
.blog-right-sidebar .widget_recent_comments li:last-child{
    border-bottom: none;
}
.blog-right-sidebar .widget_recent_comments li a{
    width: 100%;
    display: block;
    padding: 5px 0px 8px; 
    line-height: 22px; 
    
}

/*Online button*/
/* .order-online-btn{
background: #255ba6 none repeat scroll 0 0;
color: #fff;
display: inline-block;
letter-spacing: 0;
padding: 7px 15px;
margin-left: 15px;
cursor: pointer;
} */





.nav-previous{
    float: left;
}
.nav-next{
    float: right;

}


/* Menu Listing */
.table-submenu .menu-title{
    width: 40%;
}

.table-submenu .menu-title{
    width: 40%;
}

.table-submenu .menu-subtitle{
    width: 15%;
}


.table-submenu .menu-price{
    width: 15%;
}

.menu-notes{
   margin:0 auto;

}
.menu-notes li{ 
    display: inline;
    border-right: 1px solid #ccc;
    /* margin: 5px auto; */
    padding: 0px 25px;
}

.menu-notes li:last-child{
    border-right:none;
} 

.menu-notes p{
    padding: 10px 25px;
}

.content-center{
    text-align: center;
}


#nav-menu-item-83 a{
	background:linear-gradient(to bottom, #333366 5%, #336699 100%);
	background-color:#333366;
	cursor:pointer;
	color:#ffffff;
     padding: 13px 15px; 
    margin-left:10px; 
/* 	text-decoration:none;
	text-align: center; */
}
#nav-menu-item-83 a:hover {
	background:linear-gradient(to bottom, #336699 5%, #333366 100%);
	background-color:#336699;
}
/*
#nav-menu-item-83 a:active {
	position:relative;
	top:1px;
}
*/
.view-all-menu{
    padding: 0px 0px 20px;
    margin: 40px;
}
.view-all-menu a{
    /* background: #333366; */
    color: #fff;
    padding: 16px 38px;
    width: 230px;
    font-weight: 600;
    text-transform: uppercase;
    /* padding: 10px; */
}
.view-all-menu a:hover{
    color: #fff;
    /* background: #336699; */
    background:linear-gradient(to bottom, #336699 5%, #333366 100%);
	background-color:#336699;
    
}
.brown-bg{
    background-color: #e1e1e1;
}
/*
.reserve-form input[type=submit] {
    background: #255ba6!important;
    color: #fff!important;
}
.reserve-form input[type=submit]:hover {
    background: #333399!important;    
}
*/
#place_reservation{
    margin: 10px 0px 0px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding: 15px 10px;
    width: 230px;
    
    border:none;
    text-transform: uppercase;
}
#place_reservation_inner{
    margin: 10px 0px 0px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding: 15px 10px;    
    border:none;
    text-transform: uppercase;
    width: 100%;
}

.reserve-checkbox{
    margin: 10px 20px;
}
.white-bg-forse{
    background: #fff!important;
    background-color: #fff!important;
}

.single-footer.instagram ul li img{
    height:75px;
}


/* header added */
.top-contact-text{
    color: #fff;
}
.top-email-info{
    float: right;
}
.top-email-info{
    border-right: 1px solid #fff;
    padding-right: 15px;
}
.social-icon-top{
    float: right;
    padding-left: 10px;
}
.social-icon-top li{
    display: inline;
    padding: 0px 4px 0px;
}
.social-icon-top li a{
    color: #fff;
}
.social-icon-top li a:hover{
    color: #336699;
}




.theme-dark .nivoSlider a {
    border:0;
    display:block;
    }
    
    .theme-dark .nivo-controlNav {
    text-align: left;
    padding: 0;
    position: relative;
    z-index: 10;
    }
    
   .nivo-controlNav a {
    display:inline-block;
    width:15px;
    height:15px;
    font-family: 'FontAwesome'; 
    content: '\f067'; 
    margin:0 5px 0 -15px; 
    /* color: #f00;  */
    background-color: #fff!important;
    text-indent:-9999px;
    border:0;
    margin: 0 7px;
    border-radius: 10px;
    }
    
   .nivo-controlNav a.active {
     background-position:0 100%;
     background-color: #336699!important;
     /* border:1px solid #330066; */
     font-weight:bold;
     cursor:pointer;
     font-size: 15px;
     }
     
  .testimonial-text-slider p{
      font-size: 20px;
  }


  /*
  *
  * Online reservation booking form stat
  */
 #invalidCheck{
     font-size: 15px;
     height: 15px;
     width: 20px;
     padding:10px 5px;
     margin-top:0px;
 }
 .contact-form-box input{
    padding-left: 35px;
    font-size: 15px;

 }

 .contact-form-box select{
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
    padding: 8px 16px 8px 35px;
    font-size: 15px;
    color:#6c757d;
}

option[value=""][disabled] {
     display: none;
}

 .contact-form-box input{
    padding-left: 35px;
    font-size: 15px;
 }
 .custom-checkbox{
     padding: 35px;
 }

 .reserve-name::before{
    content:"\f007";
    font-family: FontAwesome;
    font-size: 16px;
    position: absolute;
    top: 15px;
    padding-left: 14px;
 }

 .reserve-email::before{
    content: "\f0e0"; 
    /* "\f003"; */
    font-family: FontAwesome;
    font-size: 16px;
    position: absolute;
    top: 15px;
    padding-left: 14px;
 }
 .reserve-date::before{
    content: "\f274";
    font-family: FontAwesome;
    font-size: 16px;
    position: absolute;
    top: 15px;
    padding-left: 14px;
 }
 .reserve-time::before{
    content: "\f017";
    font-family: FontAwesome;
    font-size: 16px;
    position: absolute;
    top: 15px;
    padding-left: 14px;
 }
 .reserve-phone::before{
    content: "\f098";
    font-family: FontAwesome;
    font-size: 16px;
    position: absolute;
    top: 15px;
    padding-left: 14px;
 }
 .reserve-persons::before{
    content: "\f0c0";
    font-family: FontAwesome;
    font-size: 16px;
    position: absolute;
    top: 15px;
    padding-left: 14px;
 }

 .reserve-message::before{
    content: "\f1d7"; /*"\f27a"*/
    font-family: FontAwesome;
    font-size: 16px;
    position: absolute;
    top: 15px;
    padding-left: 14px;
 }

#showhideMessage{
    cursor: pointer;
}


.alert-cookie .close{
    float: left;
}
.btn-cookie{
    background: linear-gradient(to bottom, #333366 5%, #336699 100%);
    background-color: rgba(0, 0, 0, 0);
    background-color: #333366;
    display: inline-block;
    cursor: pointer;
    color: #fff!important;
}
.btn-cookie:hover{
    background:linear-gradient(to bottom, #336699 5%, #333366 100%);
	background-color:#336699;
}

/*
*
* end Online reservation booking form stat
*/

.footer-logo{
    width: 275px;
}

.card > .card-header > h4.card-title a{
    color:#333366;
}
.card > .card-header > h4.card-title a:hover{
    color:#333366;
}

.blue-grident{
    background-color: rgba(0, 0, 0, 0);
    background-color: #333366;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 13px 15px;
    margin: 0px 0px 0px 10px;
}
.blue-grident:hover{
    background:linear-gradient(to bottom, #336699 5%, #333366 100%);
	background-color:#336699;
}
.food-menu-bg{
    background-color:#f1f1f1;
}
.popular-section-title h2{
    text-shadow: 1px 1px .6px rgba(1,1,1,.2);
    color: #fff!important;
}
.popular-section-title p{
    color: #fff;
}